

*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

body{
    background: rgb(24, 24, 24);
    color: white;
    margin:0;
    padding:0;
}

main{
    padding: 0;
    margin: 0;
}

.container-1{
    width: 100%;
}

#header{
    width: 100%;
    height: 67px;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 30px;
    margin-top: 20px;
}

.header-text h1 span{
    color:#ff8002;
}

nav{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-image: url(/Personal-portfolio/assets/images/black-stars.jpeg); 
    background-size: 100px;
    border-bottom: solid 2px white; 
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position:relative;
}

nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background: #ff8002;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.logo{
    width: 140px;
    height: 100%;
    margin-left: 50px;
   
}

#under-header {
    width: 100%;
    height: 270px;
    background-image: url(/Personal-portfolio/assets/images/orange.jpeg);
    background-position: center;
    background-size:cover;
    border-bottom: solid 2px white; 
    margin-bottom: 15px;

}

#under-header p{
    width: 100%;
}

.portfolio{
    display:flex;
    width: 100%;
}

h2, h3, h4{
    text-align: center;
    font-weight:bolder;
    font-size: 45px;
    padding-right: 15px;
}

#headings-titles{
    border-right:3px #ff8002 ;
    border-right-style:double;
    width: 20%;
    height: 82%;
    margin-right: 5%;
}

#titles{
    margin-top: 45%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-2{
    width: 90%;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content:space-evenly;

}

.about-me{
    font-size: medium;
    color: rgb(255, 255, 255);
    margin: 30px 10px ;
    width: 80%;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: groove 3px rgb(162, 162, 162);
    border-top: groove 3px rgb(162, 162, 162);
    border-width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.about-me p{
    position: relative;
    top: 5%;
    left: 10%;
    width: 62%;
    line-height: 180%;
}

#prof-portrait{
    width: 25%;
    height: auto;
    border: solid 3px white; 
}

.card{
    margin: 10px 20px;
    width: 90%;
    height: 450px;
    border: solid 3px white;
    background-image: url(/Personal-portfolio/assets/images/aurora.jpg);
    background-size:cover;
    background-position: center;
}

.card a{
    text-decoration: none;
}

.card a{
    text-decoration: none;
    width:15%;
    font-size: 24px;
    color:#ff8002;
    font-weight: 200;
    background-color: white;
    border: solid 3px white;
    position: relative;

}

.projects{
    display:flex; 
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.small-card1, .small-card2, .small-card3 {
    margin: 10px 20px;
}

.small-card1 a, .small-card2 a, .small-card3 a{
    text-decoration: none;
}

.small-card1 a, .small-card2 a, .small-card3 a{
    text-decoration: none;
    width:15%;
    font-size: 24px;
    color:#ff8002;
    font-weight: 200;
    background-color: white;
    border: solid 3px white;
    position: relative;
}

.small-card1, .small-card2, .small-card3{
    width: 90%;
    height: 200px;
    display: block;
    border: solid 3px white;
    background-size:cover;
    background-position: center;
}

.small-card1{
    background-image: url(/Personal-portfolio/assets/images/bluestars.webp);
}

.small-card2{
    background-image: url(/Personal-portfolio/assets/images/dark-aurora.jpg);
}

.small-card3{
    background-image: url(/Personal-portfolio/assets/images/many-stars.jpg);
}

#contact-me {
    margin: 15px 10px ;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: groove 3px rgb(162, 162, 162);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#contact-me h4{
    text-align: left;
    padding: 0 0 30px 10px;
}

#contact-me div{
    padding-top: 30px;
    border-top: groove 3px rgb(162, 162, 162);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#phone a, #email a, #github a{
    text-decoration: none;
    font-size: larger;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 992px) {
    #headings-titles {
      display: none;
    }
    #prof-portrait{
        width:50%;
        height: 50%;
    }
  }




